Repository cofiem/music-playlists, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, source

continue youtube-music update on failure
  src/music_playlists/services/youtube_music.py
  src/music_playlists/utils.py
Labels: source

fix copy pasta
  CHANGELOG.md
Labels: none

allow ytmusicapi to use oauth
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  requirements.txt
  src/music_playlists/__main__.py
  src/music_playlists/cli/__init__.py
  src/music_playlists/intermediate.py
  src/music_playlists/process.py
  src/music_playlists/services/spotify.py
  src/music_playlists/services/youtube_music.py
  src/music_playlists/settings.py
  src/music_playlists/sources/abc_radio.py
  src/music_playlists/sources/last_fm.py
  src/music_playlists/sources/radio_4zzz.py
  src/music_playlists/utils.py
  tests/resources/test.toml
  tests/test_cli.py
  tests/test_intermediate.py
Labels: dependencies, tests, source

refresh tracks by default when updating services
  src/music_playlists/cli/__init__.py
  src/music_playlists/process.py
Labels: source

set renovate min release age
  renovate.json
Labels: none

update renovate settings
  renovate.json
Labels: none

update renovate settings
  renovate.json
Labels: none

use shared renovate config
  renovate.json
Labels: none

Delete .github/CODEOWNERS
  .github/CODEOWNERS
Labels: none

add support for Python 3.14
  .github/workflows/code-analysis.yml
  pyproject.toml
  tests/test_cli.py
Labels: dependencies, tests

generate docs
  .github/workflows/docs.yml
  .gitignore
  CONTRIBUTING.md
  pyproject.toml
  requirements.txt
Labels: dependencies

add dependabot cooldown
  .github/dependabot.yml
Labels: none

tidy readme
  README.md
Labels: none

version 0.3.0
  CHANGELOG.md
  src/music_playlists/__about__.py
Labels: source

add new youtube-music track props
  src/music_playlists/services/youtube_music.py
  src/music_playlists/settings.py
Labels: source

move to 0.3.1
  CHANGELOG.md
  src/music_playlists/__about__.py
Labels: source

Pin dependencies (#153)
  .github/workflows/docs.yml
Labels: none

use the default cooldown
  .github/dependabot.yml
Labels: none

Update GitHub Artifact Actions (#154)
  .github/workflows/pypi-package.yml
  .github/workflows/test-package.yml
Labels: none

run tests on renovate branches
  .github/workflows/test-package.yml
Labels: none

only try to add youtube tracks when there are new tracks
  src/music_playlists/services/youtube_music.py
Labels: source

udpate dependencies
  .github/workflows/code-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/labeler.yml
  .github/workflows/pypi-package.yml
  .github/workflows/test-package.yml
  .github/workflows/zizmor.yml
  Dockerfile
  pyproject.toml
  renovate.json
Labels: dependencies

use new abc music api
  src/music_playlists/cli/__init__.py
  src/music_playlists/process.py
  src/music_playlists/sources/abc_radio.py
  src/music_playlists/sources/last_fm.py
  src/music_playlists/sources/radio_4zzz.py
  src/music_playlists/utils.py
Labels: source

update dependencies
  .github/workflows/code-analysis.yml
  .github/workflows/test-package.yml
  .github/workflows/zizmor.yml
  pyproject.toml
Labels: dependencies

update dependencies
  .github/workflows/code-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/pypi-package.yml
  .github/workflows/test-package.yml
  .github/workflows/zizmor.yml
  pyproject.toml
Labels: dependencies

remove renovate and dependabot in favour of checking for dependency updates manually
  .github/dependabot.yml
  .github/workflows/test-package.yml
  renovate.json
Labels: none

update api endpoints and data structures
  src/music_playlists/services/youtube_music.py
  src/music_playlists/sources/abc_radio.py
Labels: source

docs
  CHANGELOG.md
  README.md
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - pyproject.toml
          - MANIFEST.in

tests:
  - changed-files:
      - any-glob-to-any-file:
          - tests/**/*

source:
  - changed-files:
      - any-glob-to-any-file:
        - src/**/*
